@mixin code( $options : () ){
	$options : map-merge((
			"radius"			: $RADIUS,
			"font-family"		: $FONT-FAMILY_MONO,
			"inline_font-color"	: $FONT-COLOR,
			"inline_padding"	: 0 10px,
			"block_font-color"	: $FONT-COLOR,
			"block_padding"		: 20px,
			"background-color"	: rgba(0,0,0,.04),
			"border-color"		: rgba(0,0,0,.2),
			"font-size"			: 14px
		), $options );

	$_background-color : map-get( $options , "background-color" );

	code{
		font-family: map-get( $options , "font-family" );
		background-color: $_background-color;
		color:map-get( $options , "inline_font-color" );
		display: inline-block;
		padding: map-get( $options , "inline_padding" );
		font-size: map-get( $options , "font-size" );
	}
	pre{
		border:1px solid rgba(0,0,0,.2);
		background-color: $_background-color;
		white-space: pre-wrap;
		overflow: auto;
		@include border-radius( map-get($options , "radius") );

		code{
			display: block;
			padding: map-get( $options , "block_padding" );
			color: map-get( $options , "block_font-color" );;
			background:transparent;
		}
	}
}