@mixin init( $options : () ){
	
	$options : map-merge( (
			"background" 		: transparent ,
			"font-family" 		: $FONT-FAMILY ,
			"font-size" 		: $FONT-SIZE ,
			"font-color" 		: $FONT-COLOR ,
			"line-height" 		: $LINE-HEIGHT ,
			"p_margin"			: 10px 0,
			"hr_color"			: rgba(0,0,0,.1),
			"hr_margin"			: 30px 0,
			"light_class"		: "light",
			"light_weight"		: 300,
			"em_style"			: "italic",
			"strong_weight"		: "bold",
		) , $options );

	$background 	: map-get( $options , "background" 	);
	$font-family 	: map-get( $options , "font-family" );
	$font-size 		: map-get( $options , "font-size" 	);
	$color 			: map-get( $options , "font-color" 		);
	$line-height 	: map-get( $options , "line-height" );

		 
		// html, body, div, span, applet, object, iframe,
		// h1, h2, h3, h4, h5, h6, p, blockquote, pre,
		// a, abbr, acronym, address, big, cite, code,
		// del, dfn, em, img, ins, kbd, q, s, samp,
		// small, strike, strong, sub, sup, tt, var,
		// b, u, i, center,
		// dl, dt, dd, ol, ul, li,
		// fieldset, form, label, legend,
		// table, caption, tbody, tfoot, thead, tr, th, td,
		// article, aside, canvas, details, embed, 
		// figure, figcaption, footer, header, hgroup, 
		// menu, nav, output, ruby, section, summary,
		// time, mark, audio, video {
		// 	margin: 0;
		// 	padding: 0;
		// 	border: 0;
		// 	font-size: 100%;
		// 	font: inherit;
		// 	vertical-align: baseline;
		// }

		// blockquote, q {
		// 	quotes: none;
		// }
		// blockquote:before, blockquote:after,
		// q:before, q:after {
		// 	content: '';
		// 	content: none;
		// }
		
	*{
		@include box-sizing( border-box );
		outline:none;
		margin: 0;
		padding: 0;
	}

	ul,
	ol{
		list-style: none;
	}

	table {
		border-collapse: separate;
		border-spacing: 0;
	}

	body{
		background 			: $background ;
		font-size 			: $font-size ;
		color 				: $color ;
		line-height 		: $line-height ;
		font-family 		: $font-family ; 
	}

	p{
		margin : map-get( $options , "p_margin" );
	}

	strong,
	.#{$PX + "strong"}{
		font-weight: unquote( map-get( $options , "strong_weight") );
	}
	em,
	.#{$PX + "em"}{
		font-style: unquote( map-get( $options , "em_style" ) );
	}

	.#{ map-get( $options, "light_class" ) }{
		font-weight : map-get( $options , "light_weight")
	}

	hr{
		border:none;
		border-bottom: 1px solid map-get( $options , "hr_color");
		margin: map-get( $options , "hr_margin" );
	}
}
