// * * * * * * * * * * * * * * * * * * * * *
// YOU SHOULD NOT OVERRIDE THE MIXINS BELOW
// * * * * * * * * * * * * * * * * * * * * *

@mixin table( $options : () ){
	$options : map-merge((
			"table_class" 			: "table" , 
			"table_border-color" 	: rgba(0,0,0,.06), 
			"table-striped_suffix" 	: "striped",
			"table-striped_color" 	: rgba(0,0,0,.03)
		), $options);

	$table_class 			: $PX + map-get( $options , "table_class" ) ;
	$table-striped_class 	: $table_class +"-"+ map-get( $options , "table-striped_suffix" );

	.#{ $table_class }{
		width: 100%;

		tr{
			td,
			th{
				border-bottom: 1px solid #DDD;
				border-bottom: 1px solid map-get( $options , "table_border-color" );
				padding:10px;
				text-align: left;
			}
			&:last-child{
				td{
					border-bottom: none;
				}
			}
			th{
				font-weight: bold;
			}
		}

		&.#{ $table-striped_class }{
			tr:nth-child(odd) > td{
				background-color: map-get( $options , "table-striped_color" );
			}
		}
	}
}