@mixin headings( $options : () ){
	$options : map-merge((
			"font-weight"	: 400,
			"h1_size"		: 2.5em,
			"h6_size"		: 1em,
			"margin"		: 1em 0
		) , $options );
	$h1_size : map-get( $options , "h1_size" );
	$h6_size : map-get( $options , "h6_size" );
	$_coef   : ($h1_size - $h6_size ) / 5 ;
	$_font-weight : map-get( $options , "font-weight" );
	$_margin : map-get( $options , "margin" );

	@for $_i from 1 through 6{
		$_size : $h1_size - ($_i - 1) * $_coef;

		h#{$_i}{
			font-size: $_size ;
			margin: $_margin;
			font-weight: $_font-weight;
		}
	}
}

@mixin text( $options : () ){
	$options : map-merge((
			"families"	: (
					"sans"	: $FONT-FAMILY_SANS ,
					"serif"	: $FONT-FAMILY_SERIF ,
					"mono"	: $FONT-FAMILY_MONO 
				),
			"colors"	: (),
			"sizes"		: (
					"small"	: .7em,
					"big"	: 1.5em,
					"fat"	: 4em
				),
			"text-align": true,
			"text_class": "text"
		) , $options );

	$text_class : $PX + map-get( $options , "text_class" );
	// TEXT-ALIGN
	@if map-get( $options , "text-align" ) == true {
		@each $style in left , right , center , justify{
			.#{ $text_class +"-"+ $style }{
				text-align: $style;
			}
		}
	}

	// TEXT-FAMILY
	$_families : map-get( $options , "families" );
	@each $name , $family in $_families {
		.#{ $text_class +"-"+ $name }{
			font-family: $family ;
		}
	}
	// TEXT-COLOR
	$_colors : map-get( $options , "colors" );
	@each $name , $color in $_colors {
		.#{ $text_class +"-"+ $name }{
			color: $color ;
		}
	}
	// TEXT-SIZE
	$_sizes : map-get( $options , "sizes" );
	@each $name , $size in $_sizes {
		.#{ $text_class +"-"+ $name }{
			font-size: $size ;
		}
	}
	
}

@mixin link( $color , $options : () ){
	$options : map-merge((
		"underline_normal"  : false,
		"underline_hover"	: true
		), $options );

	a{
		color : $color ;
		@if map-get( $options , "underline_normal" ) {
			text-decoration: underline;
		}@else{
			text-decoration: none;
		}
		&:hover{
			@if map-has-key( $options , "color_hover") {
				color : map-get( $options , "color_hover" );
			}@else{
				color : darken( $color , 10% );
			}
		}
		&:active,
		&.active{
			@if map-has-key( $options , "color_active") {
				color : map-get( $options , "color_active" );
			}@else{
				color : darken( $color , 20% );
			}
		}
		&:visited{
			@if map-has-key( $options , "color_visited") {
				color : map-get( $options , "color_visited" );
			}@else{
				color : $color;
			}
			@if map-get( $options , "underline_normal" ) {
				text-decoration: underline;
			}@else{
				text-decoration: none;
			}
		}
		&:hover,
		&:active,
		&.active{
			@if map-get( $options , "underline_hover" ) {
				text-decoration: underline;
			}@else{
				text-decoration: none;
			}
		}
	}		
}