// * * * GLOBAL CONTANTS * * *

// PREFIX : default value : '';
$PREFIX 		: "" 	!default;
	// PREFIX alias
	$PX 			: $PREFIX;
	@if $PX != "" { $PX  : $PX +"-" ; }

// FONT-COLOR
$FONT-COLOR 	: #555 	!default;
// FONT-SIZE
$FONT-SIZE 		: 16px 	!default;
// LINE-HEIGTH 
$LINE-HEIGHT 	: 1.2 	!default;
//
$FONT-FAMILY 	: "Helvetica Neue", Helvetica, Arial, sans-serif;


// * * * GLOBAL VARS * * *

// EXT list of template available to extends
$TPL : ();



// button
@import "utilities";
@import "init";
@import "responsive";
@import "typographie";
@import "button";