// $PREFIX : "gear";

@import "compass";
@import "../../gear/scss/gear.scss";

// * * * VARS * * *

$colors :
	( "default" , #FFF , #555 , #CCC ),
	( "primary" , #58E ),
	( "success" , #3C7 );

/* SIZES */

$size-micro 	: "micro" 		, 22px , 12px ;
$size-min 		: "min" 		, 30px , 14px ;
$size-default 	: "medium" 		, 40px ;
$size-max 		: "max" 		, 50px ;
$size-fat 		: "fat" 		, 60px ;

$sizes : 
	$size-default 	, 
	$size-micro 	, 
	$size-min 		, 
	$size-max 		, 
	$size-fat 		;

// * * * init * * *
@include init( #FFF );

// * * * responsive * * *
@include container();

// * * * typographie * * *
@include headings();

// * * * buttons * * * 
// btn
$btn-colors : $colors ;
$btn-sizes 	: $sizes ;
@include btn( $btn-colors , $btn-sizes );