//$PREFIX : "gear";

$FONT-FAMILY :"Open Sans","Helvetica","courier","sans-serif";

@import "compass";
@import "../../gear/scss/gear.scss";
@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic");

// Globals 

// * * * VARS * * *

	
$color-default 	: "default"		, #FFF, #555, #CCC ;
$color-primary 	: "primary"		, #3498db ;
$color-success 	: "success"		, #36b34c ; //2ecc71
$color-warning 	: "warning"		, #f58134 ;
$color-alert 	: "alert" 		, #e74c3c ;

$colors : 
	$color-default ,
	$color-primary ,
	$color-success ,
	$color-warning ,
	$color-alert ;

// * * * SIZES 

$size-micro 	: "micro" 		, 22px , 12px ;
$size-min 		: "min" 		, 30px , 14px ;
$size-default 	: "medium" 		, 40px ;
$size-max 		: "max" 		, 50px ;
$size-fat 		: "fat" 		, 60px ;

$sizes : 
	$size-default 	, 
	$size-micro 	, 
	$size-min 		, 
	$size-max 		, 
	$size-fat 		;

// * * * BREAKPOINTS


$breakpoint-xs 	: "xs"	, 320px ;
$breakpoint-s 	: "s"	, 480px ;
$breakpoint-m 	: "m"	, 768px ;
$breakpoint-l  : "l"	, 1024px ;
$breakpoint-xl  : "xl"	, 1200px ;

$breakpoints :
	$breakpoint-xs,
	$breakpoint-s ,
	$breakpoint-m ,
	$breakpoint-l,
	$breakpoint-xl;


// * * * init * * *
@include init( #FFF );

// * * * responsive * * *
@include container(960px);
@include container(960px, false, "container-fixed", $breakpoints);

// * * * grid * * *
@include grid($breakpoints);


// * * * typographie * * *
@include headings();

// * * * buttons * * * 
// btn
$btn-colors : $colors ;
$btn-sizes 	: $sizes ;
@include btn( $btn-colors , $btn-sizes );